<!-- Wrapper -->
<div class="wrapper">
    <!-- Formulario -->
    <form (ngSubmit)="login()"  class="login">
        <h2>Login</h2>			
        <!-- Contenedor del Formulario -->
        <div class="login-container">
            <label>Usuario</label>
            <input [(ngModel)]="emailLogin" name="email"  type="text" placeholder="Ingresar Usuario">
            
            <label>Contraseña</label>
            <input [(ngModel)]="passwordLogin" name="password" type="password" placeholder="Ingresar Contraseña">

            <input type="submit" value="Login" class="primary_action">
        </div>
    </form>
</div>
